.hidden {
    display: none;
}
/* 
Make the label have some width and height by default to test the edit
and display mode
*/
label {
    display: block;
    width: 500px;
    height: 50px;

    /* Border to see if the sizes were effected */
    border: 1px solid black;
}

/* Show errors with a red font */
.error {
    color: red;
}
